<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend><%= controller.action_name.capitalize + " Job" %></legend>
	  <div class="field">
	    <%= f.label :jobname %><br />
	    <%= f.text_field :jobname %>
	  </div>
	  <div class="field">
	    <%= f.label :category %><br />
	    <%= f.text_field :category %>
	  </div>
	  <div class="field">
	    <%= f.label :customer %><br />
	    <%= f.text_field :customer %>
	  </div>
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description, { rows: 4, cols: 40 } %>
	  </div>
	  <div class="field">
	    <%= f.label :instructions %><br />
	    <%= f.text_area :instructions, { rows: 4, cols: 40 } %>
	  </div>
	  <div class="field">
	    <%= f.label :bid_due %><br />
	    <%= f.datetime_select :bid_due, default: @default_bid_due, discard_minute: true, ampm: true %>
	  </div>
	  <div class="field">
	    <%= f.label :delivery_due %><br />
	    <%= f.datetime_select :delivery_due, default: @default_delivery_due, discard_minute: true %>
	  </div>
	</fieldset>

	  <div class="actions">
	    <%= f.submit "Save" %>&nbsp;<%= link_to 'Cancel', jobs_path %>
	  </div>
<% end %>