<%= form_for ([:admin, @message]) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
	<legend><%= legend %></legend>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline, :size => 64 %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, {:cols => 64, :rows => 10} %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
</fieldset>

  <div class="actions">
    <%= f.submit "Save" %>&nbsp;<%= link_to 'Cancel', admin_messages_path %>
  </div>
<% end %>
