<h2>Currencies</h2>
<% if notice %><p id="notice"><%= notice %></p><% end %>
<table>
  <tr>
    <th>ISO code</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.iso_code %></td>
    <td><%= currency.description %></td>
    <td class="icon"><%= link_to (image_tag("pencil.png", :class => "icon")), edit_admin_currency_path(currency) %></td>
    <td class="icon"><%= link_to (image_tag("delete.png", :class => "icon")), admin_currency_path(currency), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
	<%= will_paginate @currencies %>
<br />

<%= link_to 'New Currency', new_admin_currency_path %>