<ul>
	<li><%= link_to 'Home', main_path %></li>
	<li><%= link_to "Messages", admin_messages_path%></li>
	<li><%= link_to "Currencies", admin_currencies_path %></li>
	<li><%= link_to "Organizations", admin_orgs_path %></li>
	<li><%= link_to "Users", admin_users_path %></li>
	<li><a href="#">Reports</a></li>
	<li><a href="#">Preferences</a></li>
	<li><a href="#">App Settings</a></li>
</ul>